<span>Auto-complete is a directive that enables type-ahead for any type of data, server or client side.</span><br/><br/>
<span>Below is a country input box - try it out. Then change the language in the dropdown and delete the contents of the dropdown and try again. The data can be updated in real time, if triggered by a broadcast or a $watch.</span>

<!-- Auto-Complete Example -->
<form>
  <div auto-complete input-name="country" pause="100" selected-object="directives.selectedCountry" local-data="base.countries.list" search-fields="name" title-field="name" minlength="1" input-class="cui-input" match-class="highlight" auto-match="true" field-required="directives.selectedCountry" initial-value="directives.defaultCountry" style="margin-top:15px"></div>
</form>

<span ng-if="directives.selectedCountry">You've selected {{directives.selectedCountry.originalObject.name}}. The code for this country is {{directives.selectedCountry.originalObject.code}}.</span>

<!-- Language Select -->
<div ng-translate-language-select style="float:none"></div>
<br/><br/>

<a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/auto-complete" target="blank">Click here for the extended documentation.</a>
