<span id="test" ng-click="directives.popoverOpen=!directives.popoverOpen" style="cursor:pointer">Click me!!</span>

<div cui-popover target="#test" popover-position="top" popover-offset="0 10px" content-offset="0%" pointer-height="13" pointer-width="10" allowed-reposition="any" hide-popover-if-oob="false"
  ng-if="directives.popoverOpen" style="width:200px;display:inline-block;background:#222;padding:10px;color:#EEE;border-radius:3px">
    Hi! I'm a popover and I'm responsive!
</div>
<br/><br/>

<a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/cui-popover" target="blank">Click here for the extended documentation.</a>
