<cui-wizard mobile-stack="700" class="cui-wizard" step="1" clickable-indicators minimum-padding="30" bar>
  <indicator-container class="indicator-container indicator-container--icons"></indicator-container>
  <!-- Step 1 -->
  <step step-title="First Step" icon="cui:search">
    <div ng-include="'assets/app/directives-showcase/components/cui-wizard/step1.html'"></div>
  </step>
  <!-- Step 2 -->
  <step step-title="Second Step" icon="cui:user">
    <div ng-include="'assets/app/directives-showcase/components/cui-wizard/step2.html'"></div>
  </step>
  <!-- Step 3 -->
  <step step-title="Third Step" icon="cui:board-edit">
    <div ng-include="'assets/app/directives-showcase/components/cui-wizard/step3.html'"></div>
  </step>
</cui-wizard>