<span>Cui-authorization is a utility / directive combo to hide features that the user should not have access to.</span><br/><br/>
<span style="display:block;">Select your entitlements:</span><br/>

<!-- Set Entitlements -->
<input type="checkbox" ng-model="directives.entitlements.regUser" id="reg-user" ng-change="directives.buildEntitlements()" style="margin-bottom:10px;"/><label for="reg-user"> Regular User</label><br/>
<input type="checkbox" ng-model="directives.entitlements.moderator" id="mod" ng-change="directives.buildEntitlements()" style="margin-bottom:10px;"/><label for="mod"> Moderator</label><br/>
<input type="checkbox" ng-model="directives.entitlements.admin" id="admin" ng-change="directives.buildEntitlements()" style="margin-bottom:10px;"/><label for="admin"> Admin</label><br/><br/>

<!-- Display based on entitlements -->
<span cui-access="{requiredEntitlements:['admin']}" user-entitlements="directives.userEntitlements">You'll only be able to see this if you're an admin.<br/></span>
<span cui-access="{requiredEntitlements:['admin','moderator']}" user-entitlements="directives.userEntitlements">You'll only be able to see this if you're a moderator or admin.<br/></span>
<span cui-access="{requiredEntitlements:['regUser','admin','moderator']}" user-entitlements="directives.userEntitlements">You'll only be able to see this if you're a user, moderator or admin.<br/></span><br/>

<a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/utilities/cui-authorization" target="blank">Click here for the extended documentation.</a>