<span id="test" ng-click="directives.popoverOpen=true" style="cursor:pointer">Click me!!</span>

<div cui-popover
  target="#test" pointer-height="13" pointer-width="10"
  popover-positions="[{position:'top', popoverOffset:'10px 0', contentOffset:'0'},'any']"
  off-click="directives.popoverOpen=false" off-click-filter="'#test'"
  ng-if="directives.popoverOpen" style="width:200px;display:inline-block;background:#333;padding:10px;color:#EEE;border-radius:3px">
    Hi! I'm a popover and I'm responsive!
</div>
<br/><br/>

<a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/cui-popover" target="blank">Click here for the extended documentation.</a>
