<span>Cui-avatar is a directive that inserts the user's avatar to the background of a div inside of the div it's applied to. It also takes an array of names to display initials until that image is loaded (Note: the image in this example is applied with an artificial delay).
	<a href="https://github.com/thirdwavellc/cui-ng/tree/master/assets/angular-templates/cui-avatar.html" target="blank" class="cui-link">Click here for the code for this page.</a>
</span>

<div class="avatar" cui-avatar="directives.appUser.avatar" cui-avatar-names="directives.appUser.names" cui-avatar-color-count="3" cui-avatar-color-class-prefix="avatar-color"></div>

<div class="avatar" cui-avatar cui-avatar-email="directives.appUser.email" cui-avatar-names="directives.appUser.names" cui-avatar-color-count="3" cui-avatar-color-class-prefix="avatar-color"></div>

<a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/cui-avatar" target="blank">Click here for the extended documentation.</a>