<p>Cui-button is a directive that allows you to attach customizations to a button for a loading, success, and error states. <a href="https://github.com/covisint/cui-ng/tree/master/assets/angular-templates/cui-button.html" target="blank" class="cui-link">Click here for the code on this page.</a></p></br>

<cui-button
  button-click="directives.cuiButtonClick()"
  loading-if="directives.cuiButtonLoading"
  success-if="directives.cuiButtonSuccess"
  error-if="directives.cuiButtonError"
  success-message="Success"
  error-message="Error"
  loading-message="Submitting..."
>
  <button class="cui-button">Submit</button>
</cui-button>

</br><p><a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/cui-button/README.md" target="blank">Click here for the extended documentation.</a></p>
