<span>Focuses the field if the expression inside this attribute is true.</span><br/>

<input class="cui-input" style="margin-top:20px;display:block;" focus-if="directives.focusInput"/>

<input type="checkbox" ng-model="directives.focusInput" id="focus-box"/>
<label for="focus-box"> Check this box to automatically focus the field above.</label>

<br/><br/>

<a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/focus-if" target="blank">Click here for the extended documentation.</a>