<span>Match is a quick way of checking if a field matches another.</span><br/>

<span>Hit Start! and be ready to type what you see popping up on the first input. No need to click on the input to start typing, we're doing it for you with <a ui-sref="focus-if" class="cui-link">focus-if</a>.<br/><br/>

<form name="formName">
    <input name="input1" ng-model="directives.random" class="cui-input--half cui-input"/>
    <input name="input2" ng-model="directives.userInput" match="directives.random" class="cui-input--half cui-input" focus-if="directives.gameStarted"/>
</form>

<button class="cui-button" ng-if="!directives.gameStarted" ng-click="directives.startGame()">Start!</button>
<button class="cui-button" ng-if="directives.gameStarted" ng-click="directives.restartGame()">Start over!</button>

<span ng-if="formName.input2.$error.match && directives.gameStarted" class="ellapsed">{{ directives.counter | number:2 }} seconds!</span>
<span ng-if="directives.gameStarted && !formName.input2.$error.match" class="ellapsed" ng-init="directives.stopGame()">You finished in {{ directives.counter | number:2}} seconds!</span><br/><br/>

<a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/match" target="blank">Click here for the extended documentation.</a>