<span>Off-click is a directive to simulate something like onClick but for when you click outside of the element. With the help of off-click-if and off-click-filter directives you can create a highly customizable user experience, such as this one.</span>

<div id="off-click-test" class="box" off-click="directives.missed=true;directives.misses=(directives.misses+1)" ng-click="directives.addPoints()" off-click-if="!directives.notPlaying">
  <span class="center" ng-if="directives.missed==undefined && !directives.notPlaying">Click anywhere inside this box</span>
  <span class="center" ng-if="directives.missed===true && !directives.notPlaying">Wow, you missed <b>{{directives.misses}} time<span ng-if="directives.misses!==1">s</span>!</b></span>
  <span class="center" ng-if="directives.missed===false && !directives.notPlaying"><b>Wow!</b> Nice Shot! You've hit the target <b>{{directives.hits}} time<span ng-if="directives.hits!==1">s</span>!</b></span>
  <span class="center" ng-if="directives.notPlaying">You final score is {{directives.hits-directives.misses}}. <b>Wow!</b></span>
</div>

<div class="center--double">
  <button class="cui-button finish-button" ng-click="directives.notPlaying=true" off-click-filter="'#off-click-test'">Give me my score!</button>
  <button class="cui-button restart-button" ng-click="directives.notPlaying=false;directives.hits=0;directives.misses=0;directives.missed=undefined" off-click-filter="'#off-click-test'">Restart!</button>
</div>

<br/><br/>

<a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/off-click" target="blank">Click here for the extended documentation.</a>
