<span>On-enter fires a certain function when the element it's applied on receive an 'enter' keypress.</span>

<input class="cui-input" ng-model="directives.onEnterInput" on-enter="directives.onEnter" placeholder="Type something here and press enter!" />

<ul>
  <li ng-repeat="thing in directives.onEnterResults track by thing.id">{{thing.text}}</li>
</ul>
<br/>
<a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/on-enter" target="blank">Click here for the extended documentation.</a>
