<span>Password-validation is a directive made to easily display password syntax rules and validation. This is made to work with Covisint API password rules - should you want to set custom password rules use <a ui-sref="custom-error" class="cui-link">custom-error</a> instead.
<br/>Using this password together with <a class="cui-link" href="https://docs.angularjs.org/api/ngMessages/directive/ngMessages" target="blank">ng-messages</a> will easily allow you to create a validated password input, such as this one.</span><br/><br/>

<form name="formName">
  <h1>Password Rules</h1>
  <div style="float:right;width:330px;background-color:#444;padding:20px;color:#DDD;margin-right:40px">
    [{<br/>
      <span style="padding-left:10px;" ng-repeat="(key,value) in directives.passwordPolicies">
        {{key}}:<span ng-if="key==='disallowedWords'">{{value.split(',')}}<span ng-if="!$last">,</span></span>
        <span ng-if="key!=='disallowedWords'"><span ng-if="key==='disallowedChars'">"</span>{{value}}<span ng-if="key==='disallowedChars'">"</span><span ng-if="!$last">,</span></span><br/>
      </span>
    }]
  </div>

  <div style="margin-bottom:10px;"><span style="margin-right:10px">Allow upper chars</span> <input ng-model="directives.passwordPolicies.allowUpperChars" type="checkbox"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Allow lower chars</span> <input ng-model="directives.passwordPolicies.allowLowerChars" type="checkbox"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Allow numbers </span><input ng-model="directives.passwordPolicies.allowNumChars" type="checkbox"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Allow special chars</span> <input ng-model="directives.passwordPolicies.allowSpecialChars" type="checkbox"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Required number of classes from above</span> <input ng-model="directives.passwordPolicies.requiredNumberOfCharClasses" type="number"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Disallowed Chars (no spaces)</span><input ng-model="directives.passwordPolicies.disallowedChars" type="text"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Min number of chars</span><input ng-model="directives.passwordPolicies.min" type="number"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Max number of chars</span><input ng-model="directives.passwordPolicies.max" type="number"/></div>
  <div style="margin-bottom:10px;"><span style="margin-right:10px">Disallowed words (separated by comma)</span><input ng-model="directives.passwordPolicies.disallowedWords" type="text"/></div>

  <div class="cui-wizard__field-row">
    <div class="cui-wizard__field-container cui-wizard__field-container--half ">
      <div class="cui-input__password-holder">
        <input type="password" name="passwordFieldName" class="cui-input" id="password-input" password-validation="directives.passwordPolicyObject" ng-model="directives.password" />
        <div password-popover ng-messages="formName.passwordFieldName.$error" class="cui-error__password" ng-messages-multiple ng-if="formName.passwordFieldName.$invalid">
          <!--
            * I HIGHLY RECOMMEND USING AN NG-INCLUDE FOR THIS
            * DONE INLINE FOR DEMO PURPOSES ONLY
          -->
          <p>Passwords must:</p>
          <div class="cui-error__message" ng-message="lowercaseNotAllowed">
              <div class="circle"></div>
              not have any lowercase letters
          </div>
          <div class="cui-error__message" ng-message="uppercaseNotAllowed">
              <div class="circle"></div>
              not have any upper case letters
          </div>
          <div class="cui-error__message" ng-message="numberNotAllowed">
              <div class="circle"></div>
              not have any numbers
          </div>
          <div class="cui-error__message" ng-message="specialNotAllowed">
              <div class="circle"></div>
              not have any special symbols (ex: ! * + )
          </div>
          <div class="cui-error__message" ng-message="disallowedChars">
              <div class="circle"></div>
              not contain any of the following chars: {{disallowedChars}}
          </div>
          <div class="cui-error__message" ng-message="disallowedWords">
              <div class="circle"></div>
              not contain the word(s) {{disallowedWords}}
          </div>

          <div class="cui-error__message">
            <div class="circle" ng-class="{'green': !errors.length}"></div>
            have between {{policies.min}}-{{policies.max}} characters<br/><br/>
          </div>

          <div class="cui-error__message" ng-if="policies.requiredNumberOfCharClasses>0">have {{policies.requiredNumberOfCharClasses}} of the following:<br/>
            <div class="cui-error__message" ng-if="policies.allowLowerChars">
              <div class="circle" ng-class="{'green': !errors.lowercase}"></div>
              at least one lower case letter
            </div>
            <div class="cui-error__message" ng-if="policies.allowUpperChars">
                <div class="circle" ng-class="{'green': !errors.uppercase}"></div>
                at least one upper case letter
            </div>
            <div class="cui-error__message" ng-if="policies.allowNumChars">
                <div class="circle" ng-class="{'green': !errors.number}"></div>
                at least one number
            </div>
            <div class="cui-error__message" ng-if="policies.allowSpecialChars">
                <div class="circle" ng-class="{'green': !errors.special}"></div>
                at least 1 special symbol<br/> (ex: ? * })
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<br/><br/>

<a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/password-validation" target="blank">Click here for the extended documentation.</a>
