<div class="cui-tile">
  <div class="cui-tile__title">Paginate</div>
  <div class="cui-tile__body">

    <span>Responsive paginiation directive (best when used with results-per-page)<span><br/><br/>

    <!-- Results Per Page -->
    Count: <input ng-model="paginate.count" type="number" ng-init="paginate.count=200"/><br/><br/>

    Results Per Page: <results-per-page ng-model="paginate.perPage"></results-per-page><br/><br/>

    Page: <input ng-model="paginate.page" placeholder="page" type="number"/><br/><br/>

    Current page, updated by on-page-change callback: {{paginate.currentPage}}<br/><br/>

    <paginate class="cui-paginate" results-per-page="paginate.perPage" count="paginate.count" on-page-change="paginate.handlePageChange" attach-rerender-to="paginate.rerenderPaginate" ng-model="paginate.page"></paginate>

    <br/>

    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/paginate" target="blank">Click here for the extended documentation.</a>

  </div>
</div>
