node_modules/
temp/
tmp/
logs/
log/
results/
.DS_store
**/.DS_store
.tmp/
build/
assets/css/
assets/concatJs/
assets/templateCache.js
.npmrc

*sublime*

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.project
target
*.iml
