<span>Cui-wizard is an angular directive that, following a few syntax rules, allows the developer to easily create a multi-step form or any other component that requires a "step-through" approach.</span><br/><br/>

<a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/cui-wizard" target="blank">Click here for the extended documentation.</a>

<!-- Step 1 Controls -->
<div class="cui-wizard__controls" style="margin-top:50px;">
	<button class="cui-wizard__next" style="height:auto" ng-click="next()">Go to the next step with the next() function</button>
</div>
