.cui-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
  padding: $input-padding;
  position: relative;

  &:focus {
    border: 1px solid $cui-greyscale--medium;
  }

  &--display {
    border: 0;
    height: 14px;
    margin: -3px 0 -3px 1px;
    padding: 0;
    width: 200px;
  }

  &--full {
    width: 100%;
  }

  &--half {
    width: 48%;
  }

  &--half--right {
    float: right;
    width: 48%;
  }

  &--error,
  &--error:focus {
    border: 1px solid red;
  }

  &__password--holder{
    width: 100%;
    float: none;
    position: relative;
    &--half{
      position: relative;
      float:left;
    }
  }

  &[type="password"] {
    &:focus {
      + .cui-error__password {
        display: inline-block;
      }
    }
  }

  &.ng-touched.ng-valid {
    border: 1px solid $cui-input-border--valid;
  }

  @media all and (max-width:700px){
   &--half {
      width: 100%;
    }

    &--half--right {
      float: none;
      width: 100%;
    }
    &__password--holder {
      &--half{
        width: 100%;
        float: none;
        > .cui-error__password {
          top:100%;
          right:0;
          transform: translate(-100%,0);
          &:before{
            top:0;
            left:50%;
            transform: translate(-50%,-90%) rotate(180deg);
          }
        }
      }
    }
  }
}

// override browser defaults

.cui-container {

  select {
    background-color: #fff;
  }
  
  select, input {

    &:focus {
      outline: 0;
    }
  }

}
