cui-wizard {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

indicator-container {
  border-bottom: 1px solid #DDD;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.step-indicator {
  color: #BBB;
  cursor: pointer;
  margin-bottom: -2px;
  padding: 10px 0;
  white-space: nowrap;

  &.active {
    border-bottom: 3px solid #333;
    color: #333;
  }
}

step {
  display: none;

  &.active {
    display: block;
  }
}

.cui-wizard__controls {
  text-align: right;
}

.cui-wizard__next {
  background-color: #386895;
  border: 0;
  border-radius: 4px;
  color: #FFF;
  font-size: 12px;
  height: 37px;
  width: 160px;
}

.cui-wizard__previous {
  background: #FFF;
  border: 0;
  color: $container-title-background;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;

  &.active {
    display: inline-block;
  }
}
