.cui__container {
  border-radius: $container-radius;
  margin: 0 auto;
  max-width: 900px;
  width: 80%;

  &__title {
    background-color: $container-title-background;
    border-radius: $container-radius $container-radius 0 0;
    color: white;
    padding: $container-title-padding;
    text-align: center;
  }

  &__body {
    background: white;
    border-radius: 0 0 $container-radius $container-radius;
    margin: 0 auto;
    max-width: $container-body-max-width;
    padding: $container-padding;
  }
}
