cui-expandable {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 10px;
  width: 100%;

  &-title {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 10px 0 0;
  }

  p {
    color: #666;
    font-size: 14px;
    line-height: .75;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &-body {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 200ms ease-in-out;
  }

  &[expanded="true"] {
    >cui-expandable-body {
      max-height: 500px;
    }

    >cui-expandable-title>.chevron {
      transform: rotate(90deg);
    }
  }
}

.chevron {
  color: $container-title-background;
  float: right;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}
