.cui-chevron {
  margin-right: 15px;
  width: 0;
  height: 0;
  position: relative;
  
  &:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-right:8px solid #AAA;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
  }

  &--left {
    @extend .cui-chevron;

  }

  &--right {
    @extend .cui-chevron;
    transform: rotate(-90deg);
  }

  &--top {
    @extend .cui-chevron;
    transform: rotate(180deg);
  }

  &--bottom {
    @extend .cui-chevron;
  }
}
