.cui-header {
  padding: $header-padding;

  &__user {
    flex-grow: 1;
    height: 45px;
    display:flex;
    justify-content:flex-end;
    align-items:center;

    &--avatar {
      background-size: contain;
      border-radius: 50%;
      cursor: pointer;
      height: 45px;
      width: 45px;
    }

    &--name {
      color: #AAA;
      margin-right: 15px;
    }
  }

  &__logo {
    background:url('../img/logo.png');
    background-size: contain;
    display: inline-block;
    height: 45px;
    width: 200px;
  }

  &__top {
    align-items: center;
    display: flex;
    height: 80px;
    padding: $header-top-padding;
  }
}
