.cui-container {
  border-radius: $container-radius;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;

  &__body {
    background: white;
    border-radius: 0 0 $container-radius $container-radius;
    margin: 0 auto;
    max-width: $container-body-max-width;
    padding: $container-padding;
  }

  &__title {
    background-color: $container-title-background;
    border-radius: $container-radius $container-radius 0 0;
    color: white;
    padding: $container-title-padding;
    text-align: center;
  }

  @media all and (max-width:600px){
    width:90%;

    &__body {
      padding:$container-padding-small;
    }
  }
}
