cui-wizard{
	display:block;
	width:100%;
	max-width:600px;
	margin:0 auto;
}

indicator-container{
	display:flex;
	justify-content:space-between;
	margin-bottom:40px;
	border-bottom:1px solid #DDD;
}

.step__indicator{
	margin-bottom:-2px; // to make the active border and the 
						// border on the indicator container
						// line up
	padding:10px 0px;
	color:#BBB;
	cursor:pointer;
	white-space: nowrap;
	&.active{
		color:#333;
		border-bottom:3px solid #333;
	}
}

step{
	display:none;
	&.active{
		display:block;
	}
}

.cui__wizard__controls{
	text-align:right;
}

.cui__wizard__next{
	height:37px;
	width:160px;
	border-radius:4px;
	font-size:12px;
	background-color:#386895;
	color:white;
	border:none;
}

.cui__wizard__previous{
	font-size:12px;
	color:$container-title-background;
	margin-right:20px;
	cursor:pointer;
	display:none;
	&.active{
		display:inline-block;
	}
}