.cui-header {
  background: white;
  padding: $header-padding;
  &__user {
    flex-grow: 1;
    height: 50px;
    display:flex;
    justify-content:flex-end;
    align-items:center;

    &--avatar {
      background-size: contain;
      border-radius: 50%;
      cursor: pointer;
      height: 50px;
      width: 50px;
    }

    &--name {
      color: #AAA;
      margin-right: 15px;
      @media all and (max-width:600px){
        display: none;
      }
    }

    @media all and (max-width:600px){
      > .cui-chevron--left {
        display: none;
      }
    }
  }

  &__svg-logo {
    height: 45px;
    width: 200px;
    margin-left:20px;
  }

  &__top {
    align-items: center;
    display: flex;
    height: 80px;
    padding: $header-top-padding;
    border-bottom:1px solid #EEE;
  }

  &__bottom {
    align-items: center;
    display: flex;
    height: 60px;
    padding: $header-bottom-padding;
  }
}

.cui-avatar {
  position: relative;

  &--popup {
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .16);
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translate(0, 19px);
    transition: all 80ms ease-in-out;
    width: 200px;
    z-index: 3;
    pointer-events: none;

    &.active {
      opacity:1;
      pointer-events: auto;
    }

    hr {
      border:0;
      border-top:1px solid rgba(0,0,0,0.15);
    }

    &::before {
      color: white;
      content: '▼';
      font-size: 16px;
      position: absolute;
      text-shadow: 2px 2px rgba(0, 0, 0, .09);
      top: 0;
      transform: rotate(180deg) translate(20px, 15px);
      right: 0;
    }

    &__greet{
      display:block;
      color: #AAA;
      font-size:15px;
      padding: 3px 10px;
      cursor: default;

      .small{
        font-size:13px;
      }
    }

    &__option {
      color: #AAA;
      display: block;
      font-size: 14px;
      padding: 3px 10px;
      
      &:hover {
        color:#888;
      }

      &.logout {
        color: lighten(#386895,20%);
        text-align: right;
        
        &:hover {
          color: #386895;
        }
      }
    }
  }

  &__svg-logo {
    height: 45px;
    width: 200px;
  }
}
