.cui__input{
	margin-bottom:20px;
	padding:$input-padding;
	box-sizing:border-box;
	-webkit-appearance: none;
	border:1px solid #DDD;
	position:relative;
	font-size:14px;
	&--full{
		width:100%;
	}
	&--half{
		width:48%;
		&:nth-child(2n){
			float:right;
		}
	}
}
