.cui-input {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
  padding: $input-padding;
  position: relative;

  &--display {
    border: 0;
    height: 14px;
    margin: -3px 0 -3px 1px;
    padding: 0;
    width: 200px;
  }

  &--full {
    width: 100%;
  }

  &--half {
    width: 48%;
  }

  &--half--right {
    float: right;
    width: 48%;
  }
  
  @media all and (max-width:700px){
   &--half {
      width: 100%;
    }

    &--half--right {
      float: none;
      width: 100%;
    }
  }
}
