<div class="cui-tile">
  <div class="cui-tile__title">Cui-Table</div>
  <div class="cui-tile__body">

    <!-- Search Input -->
    <div class="cui-user-search__container" style="margin:20px">
      <input id="cui-user-search" class="cui-input-standard" ng-model="cuiTable.userSearchQuery" placeholder="Search the table!">
    </div>

    <!-- Cui-Table -->
    <cui-table cui-table-config="cuiTable.cuiTableOptions">
      <cui-table-header 
        headers="['cui-name', 'username', 'status']"
        sorting="cuiTable.sortBy"
        sorting-callbacks="cuiTable.sortingCallbacks"
      >
      </cui-table-header>
      <cui-table-row ng-repeat="user in cuiTable.userList | filter: cuiTable.userSearch">
        <div ng-include="'assets/app/directives-showcase/components/cui-table/partials/cui-table-row.html'"></div>
      </cui-table-row>
    </cui-table>

		<br/><br/>

		<!-- Documentation Links -->
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/assets/app/directives-showcase/components/cui-table" target="blank">Click here to see the code used on this page.</a><br/><br/>
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/cui-table" target="blank">Click here for the extended documentation.</a><br/><br/>

    <!-- Home Button -->
    <button class="cui-button" style="float:right" ui-sref="index">Table of Contents</button>

  </div>
</div>
