<div class="cui-tile">
  <div class="cui-tile__title">Cui-Icon</div>
  <div class="cui-tile__body">

  	<p>The cui-icon directive makes it easier to use vector-based icons in your app (as opposed to raster-based icons types like PNG).</p>

  	<p>
  		The directive supports both icon fonts and SVG icons. <br/>
  		All styling (color, size, etc) can be done as expected, via css.
  	</p>

  	<br/>

		<cui-icon cui-svg-icon="cui:user" svg-class="icon-class" viewBox="0 0 50 50"></cui-icon>

		<br/><br/>

		<cui-icon cui-svg-icon="cui:skyscraper" svg-class="icon-class" viewBox="0 0 50 50"></cui-icon>

		<span style="margin-top:15px;display:block;">This directive requires a bit of setup to be able to use, refer to the docs for more info.</span><br/>

    <!-- Documentation Links -->
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/assets/app/directives-showcase/components/cui-icon" target="blank">Click here to see the code used on this page.</a><br/><br/>
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/cui-icon" target="blank">Click here for the extended documentation.</a><br/><br/>

    <!-- Home Button -->
    <button class="cui-button" style="float:right" ui-sref="index">Table of Contents</button>

  </div>
</div>
