<div class="cui-tile">
  <div class="cui-tile__title">Auto-Complete</div>
  <div class="cui-tile__body">

		<span>Auto-complete is a directive that enables type-ahead for any type of data - server or client side.</span><br/><br/>
		<span>Below is a country input box, try it out!</span><br/>

		<form>
      <!-- Auto-Complete -->
  		<div auto-complete input-name="country" input-class="cui-input" pause="100" title-field="name" 
  			search-fields="name"
  			selected-object="autoComplete.selectedCountry" 
  			local-data="base.countries.list"
  			match-class="highlight"
  			minlength="1"
  			auto-match="true" 
  			field-required="autoComplete.selectedCountry" 
  			initial-value="autoComplete.defaultCountry" 
  			style="margin-top:15px"></div>
		</form>

		<span ng-if="autoComplete.selectedCountry">You've selected {{autoComplete.selectedCountry.originalObject.name}}. The code for this country is {{autoComplete.selectedCountry.originalObject.code}}.</span><br/><br/>

		<span>Changing the language in the dropdown will allow you to search for countries in that language. This data can be updated in real time if triggered by a broadcast or a $watch.</span><br/>

		<!-- Language Select -->
		<div ng-translate-language-select style="float:none"></div>
		<br/><br/>

    <!-- Documentation Links -->
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/assets/app/directives-showcase/components/auto-complete" target="blank">Click here to see the code used on this page.</a><br/><br/>
		<a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/auto-complete" target="blank">Click here for the extended documentation.</a><br/><br/>

    <!-- Home Button -->
    <button class="cui-button" style="float:right" ui-sref="index">Table of Contents</button>

  </div>
</div>
