<h1>Other, more discrete, features of this wizard include:</h1><br/>

<ul class="cui-ul" style="list-style:circle inside;">
  <li>Collapsable Indicators (try making this page smaller so that there's not enough space for all of the step titles)</li>
  <li>Mobile-Stacking feature where the wizard will behave in a verticall manner</li>
  <li>Ability to assign different states to each step <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/cui-wizard" target="blank">(see the full documentation)</a></li>
</ul>

<br/><br/>

<!-- Step 3 Controls -->
<div class="cui-wizard__controls" style="margin-top:50px;">
  <button class="cui-wizard__next" ng-click="previous()">Go to the previous step with the previous() function</button>
</div>
