<div class="cui-tile">
  <div class="cui-tile__title">Cui-Tree</div>
  <div class="cui-tile__body">

    <!-- Cui-Tree -->
		<div class="cui-tree" cui-tree="cuiTree.tree" ng-init="cuiTree.tree= [{id:1,text:'Parent'}]" 
			cui-tree-leaf-display="object.id + '. ' + object.text"
			cui-tree-branch-wrapper="<div class='cui-tree__branch'></div>" 
			cui-tree-leaf-wrapper="<div class='cui-tree__leaf'></div>" 
			cui-tree-nest-prefix="cui-tree--nesting-" 
			cui-tree-nest-x-class="cui-tree--nested" 
			cui-tree-nest-0-class="cui-tree--nesting-0" 
			cui-tree-last-leaf-class="cui-tree__leaf--last" 
			cui-tree-last-branch-class="cui-tree__branch--last" 
			cui-tree-leaf-click-callback="cuiTree.leafClickCallback">
		</div>

		<br/><br/>

    <!-- Tree Controls -->
		<div>
  		Selected leaf object: <pre>{{cuiTree.leafBeingHandled | json:2}}</pre>

  		<input ng-model="cuiTree.leafText" placeholder="Name of leaf to add"/>
  		<button ng-click="cuiTree.addSibling(cuiTree.leafBeingHandled.id,cuiTree.leafText,cuiTree.tree)">Add sibling</button>
  		<button ng-click="cuiTree.addChild(cuiTree.leafBeingHandled.id,cuiTree.leafText,cuiTree.tree)">Add child</button>
  		<button ng-click="cuiTree.removeLeaf(cuiTree.leafBeingHandled.id,cuiTree.tree)">Remove leaf</button>
		</div>

    <br/><br/>

    <!-- Documentation Links -->
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/assets/app/directives-showcase/components/cui-tree" target="blank">Click here to see the code used on this page.</a><br/><br/>
    <a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/cui-tree" target="blank">Click here for the extended documentation.</a><br/><br/>

    <!-- Home Button -->
    <button class="cui-button" style="float:right" ui-sref="index">Table of Contents</button>

  </div>
</div>
