//general


// header

$header-padding : 0px 20px;
$header-top-padding : 10px 0px;

// container

$container-radius: 6px;
$container-padding: 50px;
$container-padding-small: 10px;
$container-title-background: #53abd0;
$container-title-padding: 15px;
$container-body-max-width: 100%;

// inputs

$input-padding:8px;


//helper classes
.clearfix {
  overflow: auto;
}