//general


// header

$header-padding: 0 30px;
$header-top-padding: 0 0;

// container

$container-radius: 6px;
$container-padding: 50px;
$container-padding-small: 20px;
$container-title-background: #53abd0;
$container-title-padding: 15px;
$container-body-max-width: 100%;

// inputs

$input-padding:8px 12px;
$input-error-padding:5px 12px 3px;


//helper classes
.clearfix {
  overflow: auto;
}

.container {
  background: #dfe9ee;
  padding-bottom: 200px;
  padding-top: 100px;
}

.language-select {
  float: right;
  margin-top: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}