//general

// colors
$cui-primary-colors--light: #87CEEC;    
$cui-primary-colors--medium-light: #429DD1;
$cui-primary-colors--medium: #4582B4;
$cui-primary-colors--medium-dark: #165E9B;
$cui-primary-colors--dark: #0A2741;

$cui-secondary-colors--light: #3CB371;    
$cui-secondary-colors--medium-light: #FFD700;
$cui-secondary-colors--medium: #FF8C00;
$cui-secondary-colors--dark: #FF4400;

$cui-greyscale--light: #fff;
$cui-greyscale--medium-light: #A2A19F;
$cui-greyscale--medium: #828483;
$cui-greyscale--dark: #343534;

$cui-input-border--valid: #47CBB4;

// header

$header-padding: 0 20px;
$header-top-padding: 0 0;

// container

$container-radius: 6px;
$container-padding: 50px;
$container-padding-small: 20px;
$container-title-background: #53abd0;
$container-title-padding: 15px;
$container-body-max-width: 100%;

// inputs

$input-padding:8px 12px;
$input-error-padding:5px 12px 3px;


//helper classes
.clearfix {
  overflow: auto;
}

.container {
  background: #dfe9ee;
  padding-bottom: 200px;
  padding-top: 100px;
}

.language-select {
  float: right;
  margin-top: 20px;
}
