//helper classes
.clearfix {
  overflow: auto;
}

.cui-main-content {
  @include outer-container(90%);
  background: $secondary-background;
  padding-bottom: 50px;
  padding-top: 50px;
  @media screen and (min-width: $snap-menu-breaking-point) {
    @include outer-container(80%);
  }
}

.content {
	margin-left: $desktop-menu-width;
	transition:all 100ms ease-in-out;

	@media screen and (max-width:$snap-menu-breaking-point-1){
		margin-left:0;
	}

	&.desktop-menu--collapse{
		margin-left:0;
	}
}

.language-select{
	margin-top:20px;
	float:right;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hide{
	display:none !important;
}

//helper classes

.language-select {
  float: right;
  margin-top: 20px;
}

.cui-wrapper {
  background: $secondary-background;
  min-height: 100vh;
  position:relative;
  overflow-x: hidden;
}

