<div class="cui-tile">
  <div class="cui-tile__title">Cui-Button</div>
  <div class="cui-tile__body">

		<p>Cui-button is a directive that allows you to attach customizations to a button for a loading, success, and error states.</p><br/>
		
		<cui-button
  		button-click="cuiButton.cuiButtonClick()"
		  loading-if="cuiButton.cuiButtonLoading"
		  success-if="cuiButton.cuiButtonSuccess"
		  error-if="cuiButton.cuiButtonError"
		  success-message="Success"
		  error-message="Error"
		  loading-message="Loading..."
		>
  		<button class="cui-button">Submit</button>
		</cui-button>

		<br/><br/>

		<p><a href="https://github.com/covisint/cui-ng/tree/master/assets/angular-templates/cui-button.html" target="blank" class="cui-link">Click here for the code on this page.</a></p>

		<p><a class="cui-link" href="https://github.com/covisint/cui-ng/tree/master/directives/cui-button/README.md" target="blank">Click here for the extended documentation.</a></p>

  </div>
</div>