<div class="cui-tile">
  <div class="cui-tile__title">Cui-Wizard</div>
  <div class="cui-tile__body">



    <cui-wizard-proto mobile-stack="700" class="cui-wizard" step="1" clickable-indicators minimum-padding="30" bar>

      <indicator-container class="indicator-container"></indicator-container>


      <step step-title="First Step">
        <span>Cui-wizard is an angular directive that, following a few syntax rules, allows the developer to easily create a multi-step form or any other component that requires a "step-through" approach.</span><br/><br/>
        <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/cui-wizard" target="blank">Click here for the extended documentation.</a>
        <div class="cui-wizard__controls" style="margin-top:50px;">
          <button class="cui-wizard__next" ng-click="next()">Go to the next step with the next() function</button>
        </div>
      </step>


      <step step-title="Second Step">
        <span>Anything can be put inside of these steps - from static html content to rich dynamic forms. If you are using this for forms you can use the nextWithErrorChecking() function to help you out!</span><br/><br/>
        <form name="formName">
          <div class="cui-wizard__field-row">

            <!-- Input1 -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="input1">Input 1</label>
              <div class="cui-error" ng-messages="formName.input1Name.$error" ng-if="formName.input1Name.$touched">
                 <div class="cui-error__message" ng-message="required">This field is required.</div>
              </div>
              <input type="text" name="input1Name" id="input1" class="cui-input" ng-required="true" ng-model="app.field1"/>
            </div>

            <!-- Input2 -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="input2">Input 2</label>
              <div class="cui-error" ng-messages="formName.input2Name.$error" ng-if="formName.input2Name.$touched">
                <div class="cui-error__message" ng-message="required">This field is required.</div>
              </div>
              <input type="text" name="input2Name" id="input2" class="cui-input" ng-required="true" ng-model="app.field2"/>
            </div>
          </div>

        </form>

        <div class="cui-wizard__controls" style="margin-top:50px;">
          <button class="cui-wizard__next" ng-click="previous()">Go to the previous step with the previous() function</button>
          <button class="cui-wizard__next" ng-class="{'cui-wizard__next--error' : formName.$invalid}" ng-click="nextWithErrorChecking(formName)">Try to go to the next step without filling both fields</button>
        </div>
      </step>


      <step step-title="Third Step">
        <h1>Other, more discrete, features of this wizard include:</h1><br/><br/>
        <ul class="cui-ul" style="list-style:circle inside;">
          <li>Collapsable Indicators (try making this page smaller so that there's not enough space for all of the step titles)</li>
          <li>Mobile-Stacking feature where the wizard will behave in a verticall manner</li>
          <li>Ability to assign different states to each step <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/cui-wizard" target="blank">(see the full documentation)</a></li>
        </ul>
        <br/><br/>
        <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/assets/angular-templates/cui-wizard.html" target="blank">Find the code for this wizard here</a>
        <div class="cui-wizard__controls" style="margin-top:50px;">
          <button class="cui-wizard__next" ng-click="previous()">Go to the previous step with the previous() function</button>
        </div>
      </step>

    </cui-wizard>
  </div>
</div>
