<div class="cui-tile">
      <div class="cui-tile__title">{{"cui-create-security-admin-account" | translate}}</div>
      <div class="cui-tile__body">
        <cui-wizard step="{{app.step}}" clickable-indicators minimum-padding="30">
          <indicator-container></indicator-container>
          <step title="{{'cui-org-info' | translate}}" state="wizard.organization">
            <form name="organization" novalidate>
              <!-- organization name -->
              <label for="org-name">{{'cui-org-info' | translate}}</label>
              <input type="text" ng-model="app.organization.name" name="org-name" class="cui-input cui-input--full" disabled></input>
              <!-- company/division -->
              <label for="company-division">{{"cui-company-division" | translate}}</label>
              <div class="cui-error" ng-messages="organization.division.$error" ng-if="organization.division.$touched">
                <div ng-messages-include="assets/angular-templates/messages.html"></div>
              </div>
              <select ng-model="app.organization.division" name="division" class="cui-input cui-input--full" ng-required="true" ng-class="{'cui-input--error': organization.division.$touched && organization.division.$invalid}">
                <option value="" disabled selected></option>
                <option ng-repeat="division in app.organization.divisions" value="{{division}}">{{division}}</option>
              </select>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- address -->
                  <label for="address1">{{'cui-address' | translate}} 1</label>
                  <div class="cui-error" ng-messages="organization.address1.$error" ng-if="organization.address1.$touched">
                    <div ng-messages-include="assets/angular-templates/messages.html"></div>
                  </div>
                  <input type="text" ng-model="app.organization.address1" name="address1" class="cui-input cui-input--full" ng-required="true" ng-minlength="10" ng-class="{'cui-input--error': organization.address1.$touched && organization.address1.$invalid}" placeholder=""></input>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- address2 -->
                  <label for="address2">{{'cui-address' | translate}} 2</label>
                  <input type="text" ng-model="app.organization.address2" class="cui-input cui-input--full" ></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- country -->
                  <label for="country">{{"cui-country" | translate}}</label>
                  <select ng-model="app.organization.country" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="country in app.organization.countries" value="{{country}}">{{country}}</option>
                  </select>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- state/province -->
                  <label for="state-province">{{"cui-state" | translate}}</label>
                  <select ng-model="app.organization.state" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="state in app.organization.states" value="{{state}}">{{state}}</option>
                  </select>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- city/region -->
                  <label for="city-region">{{"cui-city" | translate}}</label>
                  <select ng-model="app.organization.city" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="city in app.organization.cities" value="{{city}}">{{city}}</option>
                  </select>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- postal code -->
                  <label for="postal-code">{{'cui-postal' | translate}}</label>
                  <input type="text" ng-model="app.organization.postal" class="cui-input cui-input--full"></input>
                </div>
              </div>
              <div class="cui-wizard__controls">
                <button class="cui-wizard__next" ng-class="{'cui-wizard__next--error' : invalidForm[1] && organization.$invalid}" ng-click="nextWithErrorChecking(organization,'wizard.signOn')">{{'cui-next' | translate}}</button>
                <button class="cui-wizard__skip" ng-class="{'cui-wizard__skip--show' : invalidForm[1] && organization.$invalid}" ng-click="next('wizard.signOn')">{{'cui-skip-for-now' | translate}} >></button>
              </div>
            </form>
          </step>
          <step title="{{'cui-sign-on-info' | translate}}" state="wizard.signOn">
            <form name="signOn" novalidate>
              <!-- user ID -->
              <label for="userID">{{'cui-user-id' | translate}}</label>
              <input type="text" name="userID" ng-model="app.signOn.userID" class="cui-input cui-input--full" placeholder=""></input>
              <!-- password -->
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <div class="cui-input__password--holder--half">
                    <label for="password1">{{'cui-password' | translate}}</label>
                    <input type="password" name="password1" ng-model="app.signOn.password1" class="cui-input cui-input--full cui-input__password" placeholder="" ng-required="true" ng-class="{'cui-input--error': signOn.password1.$touched && signOn.password1.$invalid}" password-validation style="width:100%"></input>
                    <div class="cui-error__password" ng-messages="signOn.password1.$error" ng-messages-multiple ng-if="signOn.password1.$invalid">
                      <div ng-messages-include="assets/angular-templates/password-messages.html"></div>
                    </div>
                  </div>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                <!-- password -->
                  <label for="password">{{'cui-password-re' | translate}}</label>
                  <input type="password" ng-model="app.signOn.password2" class="cui-input cui-input--full" placeholder=""></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- question 1 -->
                  <label for="challenge-question-1">{{"cui-challenge-question" | translate}} 1</label>
                  <select ng-model="app.signOn.question1" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="question in app.signOn.questions" value="{{$index}}">{{question | translate}}</option>
                  </select>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <label for="challenge-answer-1">{{'cui-challenge-answer' | translate}} 1</label>
                  <!-- answer 1 -->
                  <input type="text" ng-model="app.signOn.answer1" class="cui-input cui-input--full" placeholder=""></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- question 2 -->
                  <label for="challenge-question-2">{{"cui-challenge-question" | translate}} 2</label>
                  <select ng-model="app.signOn.question2" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="question in app.signOn.questions" value="{{$index}}">{{question | translate}}</option>
                  </select>
                </div>
                  <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- answer 2 -->
                  <label for="challenge-answer-2">{{'cui-challenge-answer' | translate}} 2</label>
                  <input type="text" ng-model="app.signOn.answer2" class="cui-input cui-input--full" placeholder=""></input>
                </div>
              </div>
               <div class="cui-wizard__controls">
                <button class="cui-wizard__previous" ng-click="previous('wizard.organization')"><< {{'cui-previous' | translate}}</button>
                <button class="cui-wizard__next" ng-class="{'cui-wizard__next--error' : invalidForm[2] && signOn.$invalid}" ng-click="nextWithErrorChecking(signOn,'wizard.user')">{{'cui-next' | translate}}</button>
                <button class="cui-wizard__skip" ng-class="{'cui-wizard__skip--show' : invalidForm[2] && signOn.$invalid}" ng-click="next('wizard.user')">{{'cui-skip-for-now' | translate}} >></button>
              </div>
            </form>
          </step>
          <step title="{{'cui-user-info' | translate}}" state="wizard.user">
            <form name="user" novalidate>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- first name -->
                  <label for="first-name">{{'cui-first-name' | translate}}</label>
                  <input type="text" ng-model="app.user.fName" class="cui-input cui-input--full" placeholder="" required></input>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- Last name -->
                  <label for="last-name">{{'cui-last-name' | translate}}</label>
                  <input type="text" ng-model="app.user.lName" class="cui-input cui-input--full" placeholder=""></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- Email -->
                  <label for="email">{{'cui-email' | translate}}</label>
                  <input type="email" ng-model="app.user.email" class="cui-input cui-input--full" placeholder="" required></input>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- Email 2 -->
                  <label for="email-re">{{'cui-email-re' | translate}}</label>
                  <input type="email" ng-model="app.user.email2" class="cui-input cui-input--full" placeholder=""></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- Address 1 -->
                  <label for="address1">{{'cui-address' | translate}} 1</label>
                  <input type="text" ng-model="app.user.address1" class="cui-input cui-input--full" placeholder="" required></input>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- Address 2 -->
                  <label for="address2">{{'cui-address' | translate}} 2</label>
                  <input type="text" ng-model="app.user.address2" class="cui-input cui-input--full " placeholder=""></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- country -->
                  <label for="user-country">{{"cui-country" | translate}}</label>
                  <select ng-model="app.user.country" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="country in app.organization.countries" value="{{country}}">{{country}}</option>
                  </select>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- state/province -->
                  <label for="">{{'cui-state' | translate}}</label>
                  <select ng-model="app.user.state" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="state in app.organization.states" value="{{state}}">{{state}}</option>
                  </select>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- city/region -->
                  <label for="user-city">{{"cui-city" | translate}}</label>
                  <select ng-model="app.user.city" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="city in app.organization.cities" value="{{city}}">{{city}}</option>
                  </select>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- postal code -->
                  <label for="user-postal">{{'cui-postal' | translate}}</label>
                  <input type="text" ng-model="app.user.postal" class="cui-input cui-input--full" placeholder=""></input>
                </div>
              </div>
              <div>
                <div class="cui-wizard__field-container cui-input--half">
                  <!-- phone -->
                  <label for="number">{{'cui-telephone' | translate}}</label>
                  <input type="number" ng-model="app.user.phone" class="cui-input cui-input--full" placeholder=""></input>
                </div>
                <div class="cui-wizard__field-container cui-input--half cui-input--half--right">
                  <!-- timezone -->
                  <label for="timezone">{{'cui-timezone' | translate}}</label>
                  <select ng-model="app.user.timezone" class="cui-input cui-input--full">
                    <option value="" disabled selected></option>
                    <option ng-repeat="timezone in app.user.timezones" value="{{timezone}}">{{timezone}}</option>
                  </select>
                </div>
              </div>
               <div class="cui-wizard__controls">
                <button class="cui-wizard__previous" ng-click="previous('wizard.signOn')"><< {{'cui-previous' | translate}}</button>
                <button class="cui-wizard__next" ng-click="next('wizard.review')">{{'cui-next' | translate}}</button>
              </div>
            </form>
          </step>
 <!--          <step title="{{'cui-preferences' | translate}}">
            <div class="cui-wizard__controls">
              <button class="cui-wizard__previous" ng-click="previous()"><< {{'cui-previous' | translate}}</button>
              <button class="cui-wizard__next" ng-click="next()">{{'cui-next' | translate}}</button>
            </div>
          </step> -->
          <step title="{{'cui-review' | translate}}" state="wizard.review">
            <cui-expandable expanded="true">
              <cui-expandable-title ng-click="toggleExpand()">
                {{'cui-org-info' | translate}}
                <span class="chevron">></span>
              </cui-expandable-title>
              <cui-expandable-body>
                <p>{{'cui-org' | translate}}: {{app.organization.name}}</p>
                <p>{{'cui-company-division' | translate}}: {{app.organization.division}}</p>
                <p>{{'cui-address' | translate}} 1: {{app.organization.address1}}</p>
                <p ng-if="app.organization.address2">{{'cui-address' | translate}} 2: {{app.organization.address2}}</p>
                <p>{{'cui-country' | translate}}: {{app.organization.country}}</p>
                <p>{{'cui-state' | translate}}: {{app.organization.state}}</p>
                <p>{{'cui-city' | translate}}: {{app.organization.city}}</p>
                <p>{{'cui-postal' | translate}}: {{app.organization.postal}}</p>
              </cui-expandable-body>
            </cui-expandable>
            <cui-expandable>
              <cui-expandable-title ng-click="toggleExpand()">
                {{'cui-sign-on-info' | translate}}
                <span class="chevron">></span>
              </cui-expandable-title>
              <cui-expandable-body>
                <p>{{'cui-user-id' | translate}}: {{app.signOn.userID}}</p>
                <p>{{'cui-password' | translate}}: <input type="password" class="cui-input--display" disabled ng-model="app.signOn.password1"/></p>
                <p>{{'cui-challenge-question' | translate}} 1: {{app.signOn.questions[app.signOn.question1] | translate}}</p>
                <p>{{'cui-challenge-answer' | translate}} 1: {{app.signOn.answer1}}</p>
                <p>{{'cui-challenge-question' | translate}} 2: {{app.signOn.questions[app.signOn.question2] | translate}}</p>
                <p>{{'cui-challenge-answer' | translate}} 2: {{app.signOn.answer2}}</p>
              </cui-expandable-body>
            </cui-expandable>
            <cui-expandable>
              <cui-expandable-title ng-click="toggleExpand()">
                {{'cui-user-info' | translate}}
                <span class="chevron">></span>
              </cui-expandable-title>
              <cui-expandable-body>
                <p>{{'cui-first-name' | translate}}: {{app.user.fName}}</p>
                <p>{{'cui-last-name' | translate}}: {{app.user.lName}}</p>
                <p>{{'cui-email' | translate}}: {{app.user.email}}</p>
                <p>{{'cui-address' | translate}} 1: {{app.user.address1}}</p>
                <p>{{'cui-address' | translate}} 2: {{app.user.address2}}</p>
                <p>{{'cui-country' | translate}}: {{app.user.country}}</p>
                <p>{{'cui-state' | translate}}: {{app.user.state}}</p>
                <p>{{'cui-city' | translate}}: {{app.user.city}}</p>
                <p>{{'cui-postal' | translate}}: {{app.user.postal}}</p>
                <p>{{'cui-telephone' | translate}}: {{app.user.phone}}</p>
                <p>{{'cui-timezone' | translate}}: {{app.user.timezone}}</p>
              </cui-expandable-body>
            </cui-expandable>
            <!-- <cui-expandable >
              <cui-expandable-title ng-click="toggleExpand()">
                {{'cui-preferences' | translate}}
                <span class="chevron">></span>
              </cui-expandable-title>
              <cui-expandable-body>

              </cui-expandable-body>
            </cui-expandable> -->
            <div class="cui-wizard__controls">
              <button class="cui-wizard__previous" ng-click="previous('wizard.user')"><< {{'cui-previous' | translate}}</button>
              <button class="cui-wizard__next" ng-click="">{{'cui-submit' | translate}}</button>
            </div>
          </step>
        </cui-wizard>
      </div>
    </div>