<div class="cui-tile">
  <div class="cui-tile__title">Custom-error</div>
  <div class="cui-tile__body">
    <span>Custom-error is very lightweight directive to allow you to easily attach custom errors to an input field. These errors could be anything that you can imagine - from client side regex comparisons to server side checking.</span>
    <br/><br/>
    This field will check a faked API to see if the username is taken. Try making your username Steven.Seagal (simulated server side checking, loading time added for demo purposes) or admin/Admin for client side checking.<br/><br/>
    <form name="formName">
  
     <!--  app.checkUsername=function(){
          app.checkingUsername=true;
          fakeApi.checkIfUsernameAvailable(app.username)
          .then(function(res){
              app.usernameTaken=res;
              app.checkingUsername=false;
          })
      }

      app.customErrors=[
          {
              name:'usernameTaken',
              check:function(){
                  return app.usernameTaken;
              }
          },
          {
              name:'notAdmin',
              check:function(){
                  return app.username!=='admin' && app.username!=='Admin';
              }
          }
      ] -->

      <div style="position:relative;display:inline-block;width:50%;">
        <input class="cui-input" name="inputName" custom-error="app.customErrors" ng-model="app.username" placeholder="Choose your username" ng-change="app.checkUsername()" ng-class="{'cui-input--error' : formName.inputName.$error.usernameTaken}" ng-model-options='{ debounce: 500 }'/>
        <div ng-if="app.checkingUsername" class="cui-loading" style="position:absolute;height:30px;width:30px;right:10px;top:19px;"></div>
      </div>
      <span ng-if="formName.inputName.$error.notAdmin" class="error-message">Can't be admin</span>
      <span ng-if="formName.inputName.$error.usernameTaken" class="error-message">Username is taken</span>
    </form>
    <br/><br/>
    <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/assets/angular-templates/custom-error.html" target="blank">Click here to see the code used on this page</a> or <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/custom-error" target="blank">here to see the extended docs.</a>
  </div>
</div>
