<div class="cui-tile">
  <div class="cui-tile__title">Password-Validation</div>
  <div class="cui-tile__body">
    <span>Password-validation is a directive made to easily display password syntax rules and validation. This is made to work with covisint API password rules - should you want to set custom password rules use <a ui-sref="custom-error" class="cui-link">custom-error</a> instead.<br/>
    Using this password together with <a class="cui-link" href="https://docs.angularjs.org/api/ngMessages/directive/ngMessages" target="blank">ng-messages</a> will easily allow you to create a validated password input, such as this one.</span>
    <br/><br/>
    <form name="formName">
      <div class="cui-wizard__field-row">
        <div class="cui-wizard__field-container cui-wizard__field-container--half ">
          <div class="cui-input__password-holder">

            <!--    app.passwordPolicies is an array that looks like this

            app.passwordPolicies=[
                {
                    'allowUpperChars':true,
                    'allowLowerChars':true,
                    'allowNumChars':true,
                    'allowSpecialChars':true,
                    'requiredNumberOfCharClasses':3
                },
                {
                    'disallowedChars':'^&*)(#$'
                },
                {
                    'min':8,
                    'max':18
                }

            ]; -->

            <input type="password" name="passwordFieldName" class="cui-input" password-validation ng-model="app.password" />
            <div password-popover ng-messages="formName.passwordFieldName.$error" class="cui-error__password" ng-messages-multiple ng-if="formName.passwordFieldName.$invalid">
              <!--
                * I HIGHLY RECOMMEND USING AN NG-INCLUDE FOR THIS
                * DONE INLINE FOR DEMO PURPOSES ONLY
              -->
              <p>Passwords must:</p>
              <div class="cui-error__message" ng-message="lowercaseNotAllowed">
                  <div class="circle"></div>
                  not have any lowercase letters
              </div>
              <div class="cui-error__message" ng-message="uppercaseNotAllowed">
                  <div class="circle"></div>
                  not have any upper case letters
              </div>
              <div class="cui-error__message" ng-message="numberNotAllowed">
                  <div class="circle"></div>
                  not have any numbers
              </div>
              <div class="cui-error__message" ng-message="specialNotAllowed">
                  <div class="circle"></div>
                  not have any special symbols (ex: ! * + )
              </div>
              <div class="cui-error__message" ng-message="disallowedChars">
                  <div class="circle"></div>
                  not contain any of the following chars: {{disallowedChars}}
              </div>
              <div class="cui-error__message" ng-message="disallowedWords">
                  <div class="circle"></div>
                  not contain the word(s) {{disallowedWords}}
              </div>

              <div class="cui-error__message">
                  <div class="circle" ng-class="{'green': !errors.length}"></div>
                      have between {{policies.min}}-{{policies.max}} characters<br/><br/>
              </div>
              <div class="cui-error__message">have {{policies.requiredNumberOfCharClasses}} of the following:<br/>
                  <div class="cui-error__message">
                      <div class="circle" ng-class="{'green': !errors.lowercase}"></div>
                      at least one lower case letter
                  </div>
                  <div class="cui-error__message">
                      <div class="circle" ng-class="{'green': !errors.uppercase}"></div>
                      at least one upper case letter
                  </div>
                  <div class="cui-error__message">
                      <div class="circle" ng-class="{'green': !errors.number}"></div>
                      at least one number
                  </div>
                  <div class="cui-error__message">
                      <div class="circle" ng-class="{'green': !errors.special}"></div>
                      at least 1 special symbol<br/> (ex: ! % ')
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br/><br/>
    <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/assets/angular-templates/password-validation.html" target="blank">Click here to see the code used on this page</a> or <a class="cui-link" href="https://github.com/thirdwavellc/cui-ng/tree/master/directives/password-validation" target="blank">here to see the extended documentation.</a>
  </div>
</div>
